.servicos-container {
  margin-top: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 330px;
  box-sizing: border-box;
  overflow-x: auto;
}

.servicos-container h3 {
  font-size: 16px;
  margin-bottom: 0.75rem;
  color: #333;
  text-align: center;
}

.servicos-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.servicos-container li {
  margin-bottom: 0.5rem;
}

.servicos-container button {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: rgba(44, 95, 131);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.servicos-container button:hover,
.servicos-container button.selected {
  background-color: white;
  color: black;
  border: 1px solid black;
}


.time-buttons button.booked-time {
    background-color: #f8d7da; /* Um tom de vermelho claro para indicar ocupado */
    color: #721c24; /* Cor do texto mais escura */
    border: 1px solid #f5c6cb;
    cursor: not-allowed; /* Altera o cursor para indicar que não é clicável */
    opacity: 0.7; /* Torna-o um pouco transparente */
}

/* Opcional: Se você tiver um estilo para hover nos botões normais,
   pode querer garantir que o hover não mude a cor do botão ocupado. */
.time-buttons button.booked-time:hover {
    background-color: #f8d7da; /* Mantém a cor original no hover */
    color: #721c24;
    cursor: not-allowed;
}

/* Garante que o botão selecionado ainda se destaque, mas o 'booked-time' tem prioridade de fundo */
.time-buttons button.booked-time.selected-time {
    /* Você pode ajustar isso se quiser que um horário reservado e selecionado
       tenha uma aparência diferente. Por padrão, 'booked-time' terá prioridade de fundo */
    border: 2px dashed #721c24; /* Exemplo: borda pontilhada para indicar que está selecionado mas ocupado */
}